body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1321px;
}

/**********Header Section******/
header, main, footer{
    display: flex;
    justify-content: center;
}
header .container{
    background: #306994;
    border-radius: 10px;
    display: flex;
    margin-top: 50px;
}
header .container .left-content{
    width: 50%;
    padding: 111px 0px 111px 106px ;
}
header .container .left-content {
    width: 50%;
    padding: 111px 0px 111px 106px ;
}

header .container h1{
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
}
header .container p{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;
}
header .container .left-content .live-link{
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color:#fff;
    text-decoration: none;
    background: #C5357F;
    padding: 16px 25px;
    border-radius: 5px;
    transition: all 1s ease;
}
header .container .left-content .live-link:hover{
    background: #fff;
    color:#161616;
    padding:16px 34px;
}

header .container .left-content a i{
    margin-left: 10px;
    transition: margin .5s ease;
}
header .container .left-content .live-link:hover i{
    margin-left: 25px;
}
header .container .right-image{
    width: 50%;
    padding: 68px 79px 0px 24px;
    text-align: center;
}
header .container .right-image img{
    width: 100%;
}
/****** Main blog section*****/
main .container{
    display: flex;
    margin-top: 130px;
}
/****** Sidebar part*****/
main .container .aside{
    background: #306994;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .container .aside .button{
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 252px;
    border-radius: 10px;
    
}
main .container .aside .button div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
main .container .aside a{
    color: #161616; 
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    display: block;
    background: #fff;
}
.index{
    background: #C5357F;
    color: #fff;
}

main .container .aside .button .upcoming a{
    padding: 17px 40px;
    border-radius: 10px;
}
main .container .aside .button .all a{
    padding: 17px 79px;
    border-radius: 10px;
}
main .container .aside .button .blog a{
    padding: 17px 103px;
    border-radius: 10px;
}
main .container .aside .button .all{
    margin: 30px 0px;
}

/****** Blog part*****/
.blogs{
    margin-left: 24px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
}
.blogs article{
    border: 1px solid #E8E8E8;
    width: 312px;
    height: 362px;
    border-radius: 10px;
}
.blogs article .featured-image{
    border: none;
}
.blogs article .blog-content{
   padding: 20px;
}
.blog-content .transfer-btn a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    text-decoration: none;
    border: 1px solid #161616;
    padding: 4px 16px;
    border-radius: 10px;
}
.blog-content h3{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    margin:15px 0px 10px 0px;
}
.blog-content .icon-section{
    display: flex;
}
.icon-section .clock{
    display: flex;
    align-items: center;
}
.icon-section .chat{
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.clock p{
    margin-left: 10px;
}
.chat p{
    margin-left: 10px;
}
.icon-section i,p{
    color: rgba(22, 22, 22, 0.7);
}
/**** Tablet button****/
.tablet-btn{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    display: none;
}
.tablet-btn a{
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    text-decoration: none;
    background: #C5357F;
    padding: 16px 25px;
    border-radius: 5px;
}
.tablet-btn i{
    margin-left: 10px;
}
/**** Footer Section****/
footer{
    background: #306994;
    padding: 130px 0px;
    margin-top: 130px;
}
footer h2{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer hr{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .menu{
    text-align: center;
}
footer .menu a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 24px;
    text-decoration: none;
}

/*****Upcoming match*****/
.flag{
    margin-left: 24px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
    
}
.flag .blog{
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
   
}
.flag .blog .image-part{
    display: flex;
    justify-content: center;
    margin-top: 53px;
}
.flag .blog .image-part h4{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    margin: 0px 20px;
    display: flex;
    align-items: center;
}
.flag .blog h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    text-align: center;
    margin: 30px 0px 20px 0px;
}
.flag .blog p{
    color: #4D4D4D;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

/*********************
    Media Query for tablet
    ******************/

    @media only screen and (min-width: 668px) and (max-width: 992px){
        .container{
            width: 100%;
        }
        header,main,footer{
            overflow-x: hidden!important;
            padding: 0px 50px;
        }
        /******Header section *****/
        header .container{
            margin: 50px 0px 70px 0px;
        }
        header .container .left-content {
            padding: 61px 0px 61px 76px;
        }
        header .container h1 {
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
        }
        header .container p {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }
        header .container a {
            font-weight: 400;
            font-size: 2px;
            line-height: 23px;
        }
        /******Main section *****/
        main{
            flex-direction: column;
            align-items: center;
        }
        main .container{
            flex-direction: column;
            margin-top: 0px;
        }
        main .container .aside{
            width: 100%;
            height: auto;
            background: transparent;
        }
        .button{
            margin-bottom: 30px;
        }
        .button a{
            padding: 0px!important;
           
        }
        .button .all, .upcoming, .blog{
            width: 100%;
            height: 64px;
            background: #fff;
            border: 1px solid #E8E8E8;
            border-radius: 10px;
        }
        .button .all{
            margin: 0px 20px!important;
        }
        main .container .aside .button{
            flex-direction: row;
            width: 100%;
            height: auto;
        }
        main .container .aside .button #blog{
            background: #C5357F;
            color: #fff;
        }
        main .container .aside .button #upcoming{
            background: #C5357F;
            color: #fff;
        }
        .blogs {
            margin-left: 0px;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 20px;
        }
        .blogs img{
            width: 100%;
        }
        .blogs article{
            width: 100%;
            height: auto;
        }
        .tablet-btn{
            display: block;
            text-align: center;
        }
        /******Footer section*******/
        footer{
            margin-top: 70px;
            padding-bottom: 55px;
        }
        footer h2{
            padding-bottom: 30px;
            margin-bottom: 30px;
            margin-top: 70px;
        }
        footer .menu{
            max-width: 635px;
            margin: 0 auto;
        }
        footer .menu a{
            margin-right: 50px;
            line-height: 40px;
        }
        header .container .right-image {
            padding: 68px 17px 0px 4px;
        }
        .flag {
            margin-left: 0px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 20px;
        }
         
    }

    /*********************
    Media Query for mobile
    ******************/

    @media only screen and (max-width: 668px) {
        .container{
            width: 100%;
        }
        header,main,footer{
            padding: 0px 20px;
        }
        /******Header section *****/
        header .container{
            margin: 30px 0px 30px 0px;
            flex-direction: column;
            align-items: center;
            padding: 28px 38px 0px 38px;
        }
        header .container .left-content {
            padding: 0px;
            text-align: center;
            width: 100%;
        }
        header .container h1 {
            font-size: 27px;
            line-height: 33px;
        }
        header .container p {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }
        header .container a {
            font-weight: 400;
            font-size: 2px;
            line-height: 23px;
        }
        header .container .right-image {
            width: 100%;
            padding: 28px 0px 0px 4px;
        }
        header .container .right-image img{
            margin-left: 20px;
        }
        /******Main section *****/
        main{
            flex-direction: column;
        }
        main .container{
            flex-direction: column;
            margin-top: 0px;
        }
        main .container .aside{
            width: 100%;
            height: auto;
            background: transparent;
        }
        .button{
            margin-bottom: 24px;
            margin-top: 24px;
            flex-direction: column;
        }
        .button a{
            padding: 0px!important;
           
        }
        .button .all, .upcoming, .blog{
            width: 100%;
            height: 64px;
            background: #fff;
            border: 1px solid #E8E8E8;
            border-radius: 10px;
        }
        .button .all{
            margin: 20px 0px!important;
        }
        main .container .aside .button{
            flex-direction: row;
            width: 100%;
            height: auto;
            flex-direction: column;
        }
        main .container .aside .button #blog{
            background: #C5357F;
            color: #fff;
        }
        main .container .aside .button #upcoming{
            background: #C5357F;
            color: #fff;
        }
        .blogs {
            margin-left: 0px;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 14px;
        }
        .blogs img{
            width: 100%;
        }
        .blogs article{
            width: 100%;
            height: auto;
        }
        .tablet-btn{
            display: block;
            text-align: center;
        }
        /******Footer section*******/
        footer{
            margin-top: 50px;
            padding-bottom: 24px;
        }
        footer h2{
            padding-bottom: 20px;
            margin-bottom: 20px;
            margin-top: 24px;
        }
        footer .menu{
           display: flex;
           justify-content: center;
           align-items: center;
        }
        footer .menu a{
            margin-right: 0px;
            line-height: 40px;
        }
        .flag {
            margin-left: 0px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 14px;
        }
    }