body{
    margin: 0;
    padding: 0;
  
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1321px;
}

/**********Header Section******/
header .container{
    background: #161616;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    margin-top: 50px;
}
header .container .left-content{
    width: 50%;
    padding: 111px 0px 111px 106px ;
}
header .container .left-content {
    width: 50%;
    padding: 111px 0px 111px 106px ;
}

header .container h1{
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
}
header .container p{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;
}
header .container .left-content .live-link{
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color:#fff;
    text-decoration: none;
    background: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
}
header .container .left-content a i{
    margin-left: 10px;
}
header .container .right-image{
    width: 50%;
    padding: 33px 79px 0px 24px;
    text-align: center;
}
header .container .right-image img{
    width: 100%;
}
/****** Main blog section*****/
main .container{
    margin: 0 auto;
    display: flex;
    margin-top: 130px;
}
main .container .aside{
    background: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .container .aside .button{
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 252px;
    border-radius: 10px;
    
}
main .container .aside .button div{
    
    
    width: 252px;
    height: 62px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
main .container .aside a{
    color: #161616; 
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    display: block;
    background: #fff;
}
main .container .aside .button .all{
    margin: 30px 0px;
}